@import url(http://fonts.googleapis.com/css?family=Monserrat:400,700);
body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  --scrollbarBG: #2f2f2f;
  --thumbBG: #DDFFF7;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

#header {
  background-color: #31cdd1;
  height: 150px;
  line-height: 150px;
}
#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #2f2f2f;
}
#header-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.post, .about {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 5px;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 5px;
}
.post-author span{
  margin-left: 16px;
}
.post-date {
color: #D2D2D2;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.1em;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
p {
line-height: 1.5
}

#Footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#Footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#Footer p {
  color: white;
}
a {
  color: #31cDD1;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #DDFFF7;
}
.about-author img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
